code {
    padding: 1em;
    background-color: #00132f;
    color: #fcfdfc;
    display: inline-block;
    border-radius: .5em;
    box-shadow: 0 0 1em #00132f6e;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
}

p code {
    padding: 0.5em;
    max-width: 100%;
    display: inline;
    line-height: 2.5em;
    white-space: nowrap;
}

li code {
    padding: 0.5em;
    max-width: 100%;
    display: inline;
    line-height: 2.5em;
    white-space: nowrap;
}

blockquote {
    background: #dbeef7;
    margin: .5em 0;
    padding: 0.5em;
    border-radius: .2em;
    margin-left: 1em;
    color: #001335;
}

img {
    max-width: 100%;
}